{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
    </div>


    <div class="col-4">
        <img src="assets\img\Iceland-2109x1406.webp"class="img-thumbnail">
    </div>

</div>

{{> footer }}